/* * f2cc8f - yellow * 81b29a - green * e07a5f - orange/red * 3d405b - blueish * f4f1de - whitish*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&family=Merriweather:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Merriweather", serif;
  font-family: "Merriweather Sans", sans-serif;
  background-color: #f2cc8f;
  padding-bottom: 2em;
}
html {
  font-size: 62.5%;
}
/* ----- FONT-SIZE ----- */
.heading-secondary {
  font-size: 4.4rem;
}
.heading-tertiary {
  font-size: 2.8rem;
}
.h4-heading {
  font-size: 2.2rem;
}
.h5-heading {
  font-size: 2rem;
}
.h6-heading {
  font-size: 1.8rem;
}
.paragraphs {
  font-size: 1.8rem;
}
.hero-description {
  font-size: 2rem;
}
.heading-primary {
  font-size: 3em;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 20px;
}
.section-about,
.section-how-it-works,
.section-results,
.form {
  margin-bottom: 35px;
}
.navigation {
  background-color: #81b29a;
  padding: 20px;
}
.hero-img,
.diet-images {
  max-width: 100%;
}

.diet-dishes-container {
  padding-bottom: 40px;
}
.popular-diets,
.h4-heading {
  margin-bottom: 12px;
}
.error-text.h4-heading {
  color: red;
}
.diet-dishes {
  margin-top: 35px;
}
.btn-hero {
  background-color: #81b29a;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-block: 15px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

@media (min-width: 84em) {
  .section-hero {
    margin-bottom: 35px;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  .heading-secondary {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 2rem;
  }
  .hero {
    display: flex;
    align-items: center;
  }
  .hero-text-box {
    margin-right: 200px;
  }
  .hero-img {
    max-width: revert;
  }
  .btn-hero {
    padding: 10px;
  }
  /* SECTIONS */
  .tertairy-heading {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.8rem;
  }
  .h4-heading {
    font-size: 2rem;
  }
  .diet-dishes-container {
    display: flex;
    gap: 160px;
    padding-block: 30px;
  }
  .diet-dishes {
    margin-top: revert;
  }
  .section-about,
  .section-how-it-works,
  .section-results,
  .section-diet,
  .form {
    border-radius: 25px;
    padding: 5em;
  }
  .section-results,
  .section-about {
    background-color: #e07a5f;
  }
  .form,
  .section-how-it-works {
    background-color: #f4f1de;
  }
  ul {
    padding-top: 15px;
    font-size: 1.8rem;
  }
  .form {
    text-align: center;
  }
  label {
    font-size: large;
  }
  input {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
  }
  .section-diet {
    background-color: #81b29a;
  }
}
