* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  background-color: #81b29a;
  padding: 20px;
}
.container2 {
  width: 85%;
  background-color: #f2cc8f;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  padding-bottom: 2em;
  border-radius: 25px;
}
.container1 {
  width: 85%;
  background-color: #f2cc8f;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3em;
  padding: 0.5em;
  padding-bottom: 1em;
  border-radius: 25px;
}
.numbering {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}
.questions {
  padding-bottom: 2em;
  text-align: center;
  font-family: "Merriweather", serif;
  font-family: "Merriweather Sans", sans-serif;
}

h3 {
  text-align: center;
  padding: 1em;
}

.num {
  border-radius: 20px;
  margin: 0.3em;
  background-color: #81b29a;
  text-decoration: none;
  padding: 0.3em;
}
.next {
  text-align: center;
  display: block;
}
button {
  display: block;
  padding: 0.4em 3em;
}
.TC {
  border: solid 1px;
  background-color: #f4f1de;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 0.7em;
  font-family: "Merriweather", serif;
  font-family: "Merriweather Sans", sans-serif;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 9em;
}
.accept {
  padding-left: 1.5em;
  padding-top: 0.7em;
}
.QR {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0.5em;
}
.result {
  text-align: center;
  font-size: xx-large;
  color: #f4f1de;
}
